


/* .post-card::before{
  content: "";
  position: absolute;
  background-image: url('/assets/images/postBackground.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
} */